DATABASE_URL=postgresql://admin:admin@postgres:5432/revenda

POSTGRES_DB=revenda
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

KEYCLOAK_SERVER_URL=http://host.docker.internal:8080
KEYCLOAK_REALM=revenda
KEYCLOAK_CLIENT_ID=revenda-api